<!DOCTYPE html>
<html>
  <head>
    <title>Online shop - contact us</title>
    {% load static %}
    <!--Replace by <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> once development is done-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <script src="{% static 'js/main.js' %}"></script>
  </head>
    <body>
        <div class="topnav"></div>

        <form class="contactform">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" maxlength=30><br>
            <label for="obj">Object</label><br>
            <input type="text" id="obj" name="obj" maxlength=50><br>
            <label for="fulltext">Text</label><br>
            <textarea id="fulltext" name="fulltext" rows="10" maxlength=1000></textarea><br>
            <div><label class="container">Send anonymously
                  <input type="checkbox" id="anonymouscheck">
                  <span class="anonymouscheck"></span>
            </label></div>
            <div><span class="info">If the message is inappropriate, we can and will track it</span></div>
            <button type="button" onclick="sendMessage()">Submit</button>
        </form>

        <div class="botnav"></div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                topnav();
                botnav();
            });
        </script>
    </body>
</html>