<!DOCTYPE html>
<html>
  <head>
    <title>Online shop - home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now 'U' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="topnav"></div>

    <h2>Welcome on Online Shop</h2> 
    <p>This site is made for buying your everyday needs online, without having to even move an inch from your home.</p>
    <button class="button">Click me</button>

    <div class="botnav"></div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        topnav();
        botnav();
      });
    </script>
  </body>
</html>